configuration {
    modi:       "window,drun,ssh,combi";
    font:       "Fira Mono 12";
    combi-modi: "window,drun,ssh";
}

window {
    x-offset:     0px;
    y-offset:     30px;
}

@theme "material"
