[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/env awesome
Restart=no

[Unit]
BindsTo=graphical-session.target
PartOf=graphical-session.target
Description=Awesome: Window manager
Documentation=man:awesome(1)
