[Install]
WantedBy=graphical-session-fake.target

[Service]
ExecStart=/usr/bin/env blueman-applet
Restart=always
RestartSec=5

[Unit]
PartOf=graphical-session-fake.target
After=graphical-session-fake.target
Description=Blueman-Applet: A tray applet for managing bluetooth
Documentation=man:blueman-applet(1)
