[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/env cbatticon
Restart=no

[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Description=Cbatticon: A system tray battery icon
Documentation=man:cbatticon(1)
