[Install]
WantedBy=graphical-session-fake.target

[Service]
ExecStart=/usr/bin/env davmail ./.config/davmail.properties
Restart=no

[Unit]
PartOf=graphical-session-fake.target
After=graphical-session-fake.target
Description=DavMail: POP/IMAP/SMTP/Caldav/Carddav/LDAP Exchange and Office 365 Gateway
Documentation=https://davmail.sourceforge.net/
