[Service]
ExecStart=/usr/bin/env lorri daemon
Restart=on-failure

[Unit]
Requires=lorri.socket
After=lorri.socket
Description=Lorri Daemon
Documentation=man:lorri(1)
