[Service]
ExecStart=/usr/bin/env lorri daemon
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only
Restart=on-failure

[Unit]
Requires=lorri.socket
After=lorri.socket
Description=Lorri Daemon
Documentation=man:lorri(1)
