[Install]
WantedBy=graphical-session-fake.target

[Service]
ExecStart=/usr/bin/env mullvad-gui
Restart=no

[Unit]
PartOf=graphical-session-fake.target
After=graphical-session-fake.target
Description=Mullvad: VPN client
Documentation=https://mullvad.net/en/
