[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/env picom --experimental-backends
Restart=no

[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Description=Picom: X11 compositor
Documentation=man:picom(1)
