[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/env sh ./.config/systemd/user/redshift.sh
Restart=no

[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Description=Redshift: Screen color temperature manager
Documentation=man:redshift(1)
