[Service]
Type=oneshot
EnvironmentFile=%h/.local/share/secrets/restic-%i.env
ExecStart=/usr/bin/env restic backup . --exclude-caches
Restart=no

[Unit]
Description=Restic: encrypted deduplicating backup tool
Documentation=man:restic(1)
