[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/env srandrd -v -n autorandr -c
Restart=on-failure

[Unit]
After=graphical-session.target
Description=Srandrd and Autorandr - Multiple monitor handling
Documentation=man:srandrd(1) man:autorandr(1)
