[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/env syncthing -no-browser -no-restart -logflags=0
Restart=on-failure
RestartForceExitStatus=3 4
SuccessExitStatus=3 4

[Unit]
After=network.target
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=man:syncthing(1)
