[Install]
WantedBy=default-fake.target

[Service]
ExecStart=/usr/bin/env tmux -D
Restart=no

[Unit]
After=basic.target
Description=Tmux: Terminal multiplexer
Documentation=man:tmux(1) https://tmux.github.io/
X-RestartIfChanged=false
