[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/env xcape -f -e "ISO_Level3_Shift=Escape"
Restart=always
RestartSec=1

[Unit]
After=graphical-session.target
Description=Xcape: Custom X11 key bindings
Documentation=man:xcape(1)
PartOf=graphical-session.target
