[Install]
WantedBy=default.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/env xcape -f -e "ISO_Level3_Shift=Escape"
Restart=always
RestartSec=1

[Unit]
After=graphical-session.target
Description=Xcape custom key bindings
Documentation=man:xcape(1)
PartOf=graphical-session.target
